[submodule "ComputerVision/Image_Segmentation/cityscapesScripts"]
	path = ComputerVision/Image_Segmentation/cityscapesScripts
	url = https://github.com/mcordts/cityscapesScripts
[submodule "D:/personal_projects/DeepLearning/NLP/Poem_generator"]
	path = D:/personal_projects/DeepLearning/NLP/Poem_generator
	url = https://github.com/tung2921/Poem_generator
